

body{
  --paged-layout : booklet;
  font-size: 14px;
  line-height: 18px;
}

@media print {
  @page{
    size: 148mm 210mm;
    /* margin: 40px 60px 80px 60px; */
  }
  @page:left{
    margin: 36px 60px 70px 60px;
  }
  @page:right{
    margin: 36px 33px 70px 87px;
  }
  @page cover {
    margin: 1cm;
    @bottom-left {
      content: none;
    }
  }
  @page backcover {
    @bottom-left {
      content: none;
    }
  }
  @page:blank {
    @bottom-left{
      content: none;
    }    
  }
  @page blank {
    @bottom-left{
      content: none;
    }
  }
  #page-12 .pagedjs_footnote_content{
    margin-top: 0 ;
  }

  /* .blank { page: blank; break-before: always;} */
  
  .pagedjs_added_page {  --color-paper: white; } /* added pages */
  .backcover {
    display: block;
    page: backcover;
  }
  #backcover-maisondeseditions {
    position: absolute;
    bottom: 0;
    width: 50px;
    display: block;
    transform: translateX(-50%);
  }
  #blockquote{
    break-before: right;
    page: blank;
  }
  #index {
    break-before: right;
    break-after: left;
    page: blank;
  }
  .empty{
    page: blank;
    break-before: always;
  }
  #definicoes, #definitions {
    break-before: right;
  }

  #origine, #origem {
    break-before: left;
  }

  .empty img{
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
  }

  /* 1re de couverture */
  .cover-1 {
    break-after: always;
    height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .backcover {
    break-after: always;
    page: backcover
  }
  
  #header div {
    padding: 0;
  }

  /* baseline */
  #blockquote p {
    margin-top: 0;
  } 
  p {
    margin: 0 0 calc(8.9px) 0;
    /* hanging-punctuation: force-end; */
  }
  a  {
    text-decoration: none;
  }

  /* breaks */
  #colophon {
    break-before: always;
  }
  /* index */
  /* #index {
    break-before: always;
    margin-top: 0;
  } */
  #index ul {
    margin-top: 18px;
  }
  #index ul .enum {min-width: 2.5em;}
  #index h2, #index h3 {
    line-height: 18px;
  }
  #list-toc-generated .toc-element a {
    height: 18px;
  }
  /* titres */
  h2 {
    font-size: 26px;
    line-height: 18px;
    margin-bottom: 18px;
  }
  .text h2  .enum {
    /* font-size: 75%; */
    margin-left: 0;
    display: inline-block;
    margin-right: .5em;
    min-width: 0;
    font-weight: normal;
  }
  .text .enum {
    font-weight: 400;
  }
  .text h2 .enum { font-weight: 200; padding-right: 0;}
  [style]{
    /* letter-spacing: calc(var(--ls, 0) * 0.0025em); */
    letter-spacing: 0; 
    letter-spacing: calc(var(--a5ls, 0) * 0.0025em);
  }
  .text p {
    /* text-align: justify; */
    orphans: 2;
    widows: 2;
  }
  .text {
    padding-left: 0;
    /* hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto; */
  }
  /* [data-align-last-split-element='justify']{
    text-align-last: left;
  } */
  .text > :first-of-type, 
  p:first-child,
  p:first-of-type{ margin-top: 0; }
  
  /* notes */
  .pagedjs_footnote_content {
    padding-left: 0;
    margin-top: 12px;
  }
  .pagedjs_footnote_inner_content {
    line-height: 1.25;
  }
  .fn {
    margin: 0.5em 0 0;
  }

  /* figures */

  .text figure { margin: .5em 0;}

  .text figure::before {
    margin-left: 0;
    transform: translateY(-100%);
    /* display: none; */
    opacity: 0;
  }
  .text figure:hover::before {
    opacity: 1;
  }


  /* .text p + figure { margin-top: 2em;} */
  .text figcaption {
    display: none !important;
  }
  .text figcaption p{
    text-align: left;
    font-size: 10px;
    line-height: 1.25;
  }

  .colophon-meta span:not(:last-child)::after{
    content: ""
  }
  .colophon-meta span {display: block;}
  .colophon-data p:first-child  {margin: 0;}
  .colophon-data p:nth-child(even),
  .colophon-meta span:nth-child(even) {padding-left: 2em;}
  a.external::after{
    content: ": " attr(data-url)
  }
  
}
